@import url("https://fonts.googleapis.com/css2?family=Agbalumo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bigelow+Rules&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Agbalumo", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: Bigelow Rules;
  background: linear-gradient(
    to left,
    rgb(255, 0, 85) 0%,
    rgba(55, 0, 255, 0.397) 100%
  );
  /* background-color: rgba(255, 0, 170, 0.397); /* Set your desired background color */
}

.container {
  width: 100%;
  max-width: 1200px; /* Adjust the maximum width as needed */
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

.image-container {
  background-image: url("image-removebg-preview (1).png"); /* Replace with the path to your overlay image */
  background-size: cover; /* Adjust as needed */
  width: 400px;
  height: 400px; /* Adjust the height as needed */
  position: absolute;
  top: 200px;
  left: 880px;
}
.image-flower {
  background-image: url("https://static.vecteezy.com/system/resources/previews/009/312/393/original/flower-3d-icon-model-cartoon-style-concept-render-illustration-png.png");
  background-size: cover; /* Adjust as needed */
  width: 100px;
  height: 100px; /* Adjust the height as needed */
  position: absolute;
  top: 200px;
  left: 950px;
}

.image-flower1 {
  background-image: url("https://static.vecteezy.com/system/resources/previews/009/312/393/original/flower-3d-icon-model-cartoon-style-concept-render-illustration-png.png");
  background-size: cover; /* Adjust as needed */
  width: 250px;
  height: 250px; /* Adjust the height as needed */
  position: absolute;
  top: 300px;
  left: 1100px;
}
.image-flower4 {
  background-image: url("https://static.vecteezy.com/system/resources/previews/009/312/128/original/flower-3d-icon-model-cartoon-style-concept-render-illustration-free-png.png");
  background-size: cover; /* Adjust as needed */
  width: 100px;
  height: 100px; /* Adjust the height as needed */
  position: absolute;
  top: 485px;
  left: 415px;
}
.image-flower5 {
  background-image: url("images-removebg-preview (1).png");
  background-size: cover; /* Adjust as needed */
  width: 250px;
  height: 250px; /* Adjust the height as needed */
  position: absolute;
  top: 50px;
  left: 1100px;
}
.image-flower2 {
  background-image: url("https://static.vecteezy.com/system/resources/previews/009/312/128/original/flower-3d-icon-model-cartoon-style-concept-render-illustration-free-png.png");
  background-size: cover; /* Adjust as needed */
  width: 150px;
  height: 150px; /* Adjust the height as needed */
  position: absolute;
  top: 450px;
  left: 900px;
}
.image-flower3 {
  background-image: url("image-removebg-preview (2).png");
  background-size: cover; /* Adjust as needed */
  width: 120px;
  height: 120px; /* Adjust the height as needed */
  position: absolute;
  top: 35px;
  left: 50px;
}
h1 {
  text-align: center;
  color: rgb(244, 247, 246);
  font-size: 80px;
  padding: 20px 20px;
}

.canvas {
  position: absolute;
  right: 190px;
  width: 50%;
  height: 350px;
  margin: 0 30%;
  background-color: rgba(119, 0, 69, 0.432);
  border-radius: 20px;
}

.camera-feed {
  width: 100%;
  border-radius: 5px;
}

.button-record {
  position: absolute;
  right: 310px;
  top: 480px;
  width: 100%;
  height: 100px;
  margin-top: 30px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.button-74 {
  background-color: #1a8fb3;
  border: 2px solid #1a8fb3;
  border-radius: 30px;
  box-shadow: #02252e 2px 2px 0 0;
  color: #fdfdfd;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.button-74:hover {
  background-color: rgb(255, 0, 85);
  border-color: rgb(255, 0, 85);
  color: #fdfdfd;
}

.button-74:active {
  box-shadow: #022e27 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-74 {
    min-width: 120px;
    padding: 0 25px;
  }
}

.line {
  width: 50%;
  height: 4px;
  background-color: #169186;
  border-radius: 20px;
  margin: auto;
}
@media screen and (max-width: 900px) {
  h1 {
    font-size: 36px; /* Réduire la taille de la police pour les petits écrans */
  }

  .camera-container {
    width: 90%; /* Ajuster la largeur pour les petits écrans */
    margin: 0 5%; /* Centrer le conteneur */
  }

  .button-record {
    height: 60px; /* Réduire la hauteur pour les petits écrans */
    margin-top: 15px; /* Ajuster les marges pour les petits écrans */
    margin-bottom: 20px; /* Ajuster les marges pour les petits écrans */
  }

  .button-74 {
    font-size: 16px; /* Réduire la taille de la police pour les petits écrans */
  }

  .line {
    width: 90%; /* Ajuster la largeur pour les petits écrans */
    height: 2px; /* Réduire la hauteur pour les petits écrans */
    margin: auto;
  }
}
.cont{
  width: 500px;
  height: 500px;
  position: absolute;
  background-color: rgba(41, 12, 22, 0.24);
  border-radius: 50%;
  left: 1050px;
  bottom: 50px;
    /* Ajout de l'effet de flou à la bordure */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.349);
    }
