*{
  margin: 0;
}
.container{
  background-color: #FFE8E4;
  display: flex;
  object-fit: cover;
  background-size: 100%;
  background-repeat: no-repeat;
  /*width: 555px;
  margin: 2rem 8rem;*/
}

.container-left {
  width: 281px;
  height: 296px;
  background-color: #beff2226;
  border-radius: 5px;
  text-align: center;
  margin: 13rem -1rem;
} 

 .container-left img {
  width: 238px;
  margin-top: -119px;
  height: 413px;

}
.containerrr{
  display: flex;
  /*background-image: url('./Capture\ d’écran\ 2023-11-15\ 062034.png');*/
  object-fit: cover;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 555px;
    margin: 2rem 8rem;

}
.contImg{
  position: relative;
  margin: 3rem 9rem;
}
.contt{
  position: absolute;
}
canvas#canvas {
  object-fit: cover;
  width: 399px;
  height: 405px;
  margin: 5rem 5rem;}